.aroundRes {
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;

    .results {
        width: 90%;
        height: 100%;
        padding: 20px;

        display: flex;
        flex-wrap: wrap;

        div {
            cursor: pointer;
        }
    }
}
