.arrow {
    max-width: 100%;
    width: fit-content;
    display: flex;
    align-items: center;

    span {
        font-weight: 600;
        font-size: 1.05rem;
        color: #7c2cff;
    }

    cursor: pointer;

    &:hover {
        border-bottom: 1px solid #7c2cff;
    }

    img {
        width: 16px;
        height: 16px;
        margin: 0 0 0 10px;
    }
}
