.titleSer {
    display: block;
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    color: #17003f;

    text-shadow: none;
    font-size: 5vmin;
    font-weight: 600;

    padding: 20px 10px;
    background-color: #fafbfd;
}
